@keyframes instagram{
    70%{transform:translatey(60px);}
    100%{transform:rotate(180deg);}  
}

div{
    animation-name:instagram;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction:alternate ;
}