@keyframes instagram{
    0%{transform: rotatex(-360deg);}
    15%{transform: rotatey(-360deg);}
    
}

div{
    animation-name:instagram;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}