*{box-sizing: border-box;}


.items{
    display: grid;
    grid-template-columns: 25% 25% 25%;
}
.Item{
    border: 1px solid black;
}
.Itema{
 grid-row: 1;
 grid-column: 2;
 background-color: brown;
}