/*animation code*/
@keyframes block{
    0%{background-color: blue;} /*{} = properties of block, % is based on the duration of the animation*/
    50%{background-color: white;}
    100%{background-color: black;}
}
/*the element to apply animation to*/
div{
    width: 10px;
    height:10px;
    background-color: red;
    animation-name:block;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}